/* Tillfällig navbar design */

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin: 0 10px;
}
