@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jockey+One&family=Jolly+Lodger&display=swap');

$font-stack-logo: "Jolly Lodger", sans-serif;
$font-stack-header: "Jockey One", sans-serif;
$font-stack-navbar: "Jockey One", sans-serif;
$font-stack-bread: Inter, sans-serif;
$main-font-color: #e9e9e9;
$inline-font-color: #000000;
$primary-color: #b60b0b;
$green-button-color: #108832;
$green-button-color-hover: #4da366;
$button-color: #0d5ca7;
$button-color-hover: #3d7db8;
$accent-color: #eaeaea;
$primary-background-color: #0d0c0c;
$accent-background-color: #d9d9d9;
$link-color: #3c0101;
$link-hover: white;
$radius: 0.8rem;
$header-color: #684444;
$navbar-color: #a17979;
$light-background: #f4eaea;
$footer-background: #9f8c8c;
$beef-brown: #400F0F;
$egg-white: #FFFCF8;
$brioche-brown: #F29C50;

.hightlight {
  color: greenyellow;
}

.siteSize {
  width: 1176px; // 1247
  height: 1770px;
}

.siteSizeMin {
  min-height: 1770px;
  min-width: 1176px;
}

.header-button{
  width: 60px;
  height: 60px;
  background-color: $beef-brown;
  border-radius: 50%;
  color: $egg-white;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $egg-white;
  margin: 10px;
}

.h1Header {
  color: $beef-brown;
  font-weight: bold;
  margin: 10px;
  min-width: 500px;
}

.sesame-group{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px 20px;
  justify-content: space-evenly;
}

.sesame-seed{
  width: 10px;
  height: 10px;
  min-height: 10px;
  min-width: 10px;
  border-radius: 10px 10px 10px 0px;
  background-color: $egg-white;
  margin: 5px;
}

#breader-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

#bread-crown {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: $brioche-brown;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100px;
max-width: 1176px;
  margin-top: 10px;
  border-radius: 80px 80px 10px 10px;
}

.aboutUsBox {
  width: 25vw;
  height: 15vw;
  background-color: $header-color;
  margin: 30px 0px;
  color: $main-font-color;
  padding: 10px;
  font-size: 1.5vw;
  border-radius: 20px;
  text-align: start;
  overflow: hidden;
}

.text-start {
  text-align: start;
}

.navigationButtonFill {
  width: 100%;
  fill: $egg-white;
}

body {
  font: 100% $font-stack-bread;
  display: flex;
  justify-content: center;
  color: $main-font-color;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(70, 70, 70, 1) 100%
  );
}

.footer {
  width: 100%;
  background-color: $footer-background;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 15px;
}

.carousel-item {
  overflow: hidden;
}

.cartItemListBox {
  width: 100%;
}

.cardItemList {
  background-color: $light-background;
  color: $inline-font-color;
  border-radius: 10px 10px 0px 0px;
  padding: 1px 10px 0px 10px;
  margin-bottom: 0px;
}

.cartProductListBottom {
  background-color: $header-color;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 0px 0px 0px 10px;
}

.cartProductCheckoutButton {
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color: $green-button-color;
  font-size: 1rem;
  border: none;
  height: 40px;
  transition: 0ms;
}

.cartProductNewMenuButton {
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 2px;
  background-color: $button-color;
  font-size: 1rem;
  border: none;
  height: 40px;
  transition: 0ms;
  width: 100%;
  border-radius: 0px;
}

.cartProductNewMenuButton:hover {
  background-color: $button-color-hover;
  border: none;
}

.cartProductCheckoutButton:hover {
  background-color: $green-button-color-hover;
  border: none;
}

.cartProductCheckoutButton:active {
  height: 45px;
  box-shadow: none;
  margin-bottom: 15px;
}

.cartProductAmountButton {
  background-color: $button-color;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: none;
  margin-top: 93px;
}
.cartProductAmountButton:hover {
  background-color: $button-color-hover;
}

.flexDC {
  display: flex;
  justify-content: end;
}

.emptyCartBox {
  background-color: $light-background;
  height: 400px;
  min-width: 700px;
  width: 100%;
  max-width: 950px;
  border-radius: 20px;
  text-align: center;
  padding-top: 180px;
  color: $inline-font-color;
  font-size: 3rem;
  margin-left: 110px;
  margin-top: 90px;
}

.amountBox {
  height: 40px;
  width: 40px;
  background-color: #e6dcdc;
  padding: 10px;
  text-align: center;
  margin-top: 93px;
}

.removeFromCart {
  float: right;
  background-color: rgb(203, 0, 0);
  padding: 12px;
  font-size: x-large;
}

.removeFromCart:hover {
  background-color: rgb(172, 0, 0);
}

h1,
h2 {
  font: 350% $font-stack-header;
  text-transform: uppercase;
  color: $main-font-color;
}

.h1Header {
  font: 600% $font-stack-logo;
  text-transform: none;
  color: $main-font-color;
  font-weight: bold;
  margin: 0 4rem 0 4rem;
}

.headerTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header-color;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.headerSmaller {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header-color;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: $inline-font-color;
  font-weight: normal;
  color: $main-font-color;
  margin-bottom: 10px;
}

.shoppingIcon {
  transition-duration: 0.4s;
}

.shoppingIcon:hover {
  transform: rotate(-20deg) scale(110%);
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: $link-hover;
}

.cardImage {
  transition: 0.3s;
}

.cardImage:hover {
  transform: scale(1.12);
}

.cardFooter {
  background-color: $accent-background-color;
  height: 60px;
}

.cartProductList {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.centerSite {
  display: flex;
  justify-content: center;
  width: 100%;
}

.divHeader {
  @extend .roundedStandard;
  background-color: $accent-background-color;
  color: $main-font-color;
  height: 100px;
  margin: 4rem 4rem 4rem 4rem; //Top Right Bottom Left
}

.divSubHeader {
  @extend .roundedStandard;
  background-color: $accent-background-color;
  color: $main-font-color;
  height: 100px;
  margin: 4rem 0 4rem 0;
}

.divFlexAligned {
  display: flex;
  align-items: center;
}

.card {
  @extend .roundedStandard;
}

.card button {
  border-radius: 0 0 $radius $radius;
}

button {
  @extend .roundedStandard;
  color: #ffffff;
  font-weight: bold;
  padding: 0.7em 1.7em;
  font-size: 18px;
  background: $button-color;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}

button:hover {
  background: $button-color-hover;
  border: 1px solid #e8e8e8;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.roundedStandard {
  border-radius: $radius;
}

.navbar-item a {
  color: black;
}

.navbar {
  display: flex;
  justify-content: center !important;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  font: 150% $font-stack-navbar;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 6px 90px;
  background-color: $navbar-color;
  border-radius: 20px;
}

.navbar-item:hover {
  color: white;
}

.drinkHeader {
  color: white;
  background-color: $header-color;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.footer p {
  color: $inline-font-color;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
